<div id="nav">
	<%= link_to image_tag("index_logo.png") %>
	<div id="links">
		<%= link_to("PRODUCT TOUR","#")%>
		<%= link_to("WHO USES AWAYFIND","#")%>
		<%= link_to("FOR BUSINESSES","#")%>
		<%= link_to("SUPPORT","#")%>
		<%= link_to("PLANS &amp; PRICING","#")%>
		<%= link_to("LOGIN","#")%>
	</div>
</div>