<div id="nav">
	<%= link_to image_tag("index_logo.png") %>
	<div id="links">
		<%= link_to("HOME","#")%>
		<%= link_to("ABOUT US","#")%>		
		<%= link_to("SUPPORT","#")%>		
		<%= link_to("LOGIN","#")%>
		<%= link_to("SIGNUP","#")%>
	</div>
</div>