<div id="nav">
	<%= link_to image_tag("index_logo.png") %>
	<div id="links">
		<%= link_to("HOME",root_path)%>
		<%= link_to("ABOUT US","#")%>		
		<%= link_to("SUPPORT",support_path)%>		
		<%= link_to("LOGIN",signin_path)%>
		<%= link_to("SIGNUP",signup_path)%>
	</div>
</div>