<!DOCTYPE html>
<html>
	<head>
		<title>Awayfind</title>		
		<%= stylesheet_link_tag "index.css", :media => "screen" %>
		<%= stylesheet_link_tag "ceebox.css", :media => "screen" %>		
		<%= csrf_meta_tags %>	
	</head>	
		<%= yield %>
<%= render 'layouts/footer1'%>
<%= render 'layouts/footer2'%>
	</body>
</html>